.education {
    position: relative;
    padding: 0 0 100px 0;
    background-image: linear-gradient(
        to bottom,
        #fdfff9,
        #f9fef8,
        #f6fdf8,
        #f2fbf8,
        #effaf8,
        #effaf8,
        #effaf8,
        #effaf8,
        #f2fbf8,
        #f6fdf8,
        #f9fef8,
        #fdfff9
    );
}
.education h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
}

.education-content {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}
.education-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 32px;
}
.education-brief:hover {
    color: #8a1390de;
    cursor: pointer;
}
.education-degree {
    font-size: 24px;
    font-weight: bold;
}
.education-institute {
    display: inline-block;
    font-size: 18px;
}
.education-calendar {
    margin-top: 18px;
    font-size: large;
}
.education-calendar svg {
    margin-top: -2px;
    margin-right: 6px;
}
.education-rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #121212;
    border-radius: 50%;
}
.education-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #121212;
    transform: translate(6px, -7px);
}
.education-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.education-modal-content {
    max-width: 880px;
    position: relative;
    background-color: #fff;
    padding: 56px 100px 48px 100px;
    border-radius: 24px;
}
.education-modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    cursor: pointer;
}
.education-modal-degree,
.education-modal-institute {
    text-align: center;
}
.education-modal-institute {
    margin-top: 12px;
    margin-bottom: 48px;
    font-size: 24px;
    font-style: italic;
}

.education-modal-wam,
.education-modal-desc {
    display: flex;
    justify-content: start;
    font-size: 20px;
}
.education-modal-active {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .education-rounder {
        display: none;
    }
    .education-line {
        display: none;
    }
    .education-data {
        display: grid;
        grid-template-columns: none;
        column-gap: 0px;
        margin-bottom: 72px;
        width: 90vw;
        text-align: center;
    }
}
