.footer {
    padding: 36px 0 36px 0;
    background-image: linear-gradient(
        to bottom,
        #f2f6ff,
        #effaff,
        #f1fcfc,
        #f6fefa,
        #fdfff9
    );
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #575252;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

@media only screen and (max-width: 700px) {
    .footer {
        text-align: center;
    }
}
