.projects {
    padding: 0 0 50px 0;
    position: relative;
    text-align: center;
    padding: 60px 50px;
}
.projects h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 48px 0;
}
.projects p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.project-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.project-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}
.project-box {
    background: url("../assets/img/project-box-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 64px;
    text-align: center;
    padding: 50px 50px;
}
.proj-imgbox {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
}
.proj-imgbox::before {
    content: "";
    background-image: linear-gradient(
        to right top,
        #f2b6cc,
        #f4b9d3,
        #f5bcda,
        #f6bfe2,
        #f6c2e9,
        #f9c5e8,
        #fcc8e7,
        #ffcbe6,
        #ffcfde,
        #ffd4d9,
        #fed9d8,
        #f9dfd9
    );
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}
.proj-imgbox:hover::before {
    height: 100%;
}
.proj-txt {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}
.proj-imgbox:hover .proj-txt {
    top: 50%;
    opacity: 1;
}
.proj-txt h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    margin-bottom: 25px;
}
.proj-txt span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}
.proj-view-more-txt {
    font-size: large;
    margin-top: 55px;
    cursor: pointer;
}
.proj-view-more-txt svg {
    margin-top: -5px;
    margin-left: 8px;
}
