.skills {
    position: relative;
    background-image: linear-gradient(
        to bottom,
        #fdfff9,
        #f9fef8,
        #f6fdf8,
        #f2fbf8,
        #effaf8,
        #effaf8,
        #effaf8,
        #effaf8,
        #f2fbf8,
        #f6fdf8,
        #f9fef8,
        #fdfff9
    );
    padding: 0 0 100px 0;
}
.skills h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 36px;
}
.skills .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
}
.skills .nav.nav-pills .nav-item {
    width: 33.33333%;
}
.skills .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #121212;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}
.skills .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #182568 -5.91%, #8a1390 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.skills .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.skills .nav.nav-pills .nav-link.active {
    color: #fff;
}
.nav-link#skills-tabs-tab-front-end {
    border: 1px solid #121212;
    border-radius: 55px 0px 0px 55px;
    overflow: hidden;
}
.nav-link#skills-tabs-tab-computer-sci {
    border-top: 1px solid #121212;
    border-bottom: 1px solid #121212;
    overflow: hidden;
}
.nav-link#skills-tabs-tab-back-end {
    border: 1px solid #121212;
    border-radius: 0 55px 55px 0;
    overflow: hidden;
}
.skills-content {
    background-image: url("../assets/img/project-box-bg.jpg");
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 32px 0 0 0px;
    border-radius: 20px;
    text-align: center;
    background: url("../assets/img/skill-box-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.skill-group {
    margin-bottom: 48px;
}
.skill-group :hover {
    color: #8a1390de;
    cursor: pointer;
}
.skill-data {
    display: inline-flex;
}
.skill-badge-check-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.skill-name {
    margin-bottom: 0px;
}
.skill-level {
    font-size: medium;
}
